body{
	margin: 0;
	padding: 0;
	background-color: #dedede;
}
main{
	margin-left: 13%;
	margin-right: 13%;
	font-family: calibri, sans-serif;
	font-size: 18px;
	padding: 35px;
}
main p{
	padding-bottom: 15px;
}
main ul li{
	padding: 5px;
}
main{
	position: relative;
}
main .farm{
	position: relative;
	top: 20%;
	left: 0%;
	transform: translate(-50% -50%);
}
main .farm img{
	height: 400px;
	width: 1000px;
	padding-bottom: 100px;
}
main .farm p{
	position: absolute;
	color: white;
	font-size: 80px;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
}
header{
	position: relative;
	display: flex;
	padding: 30px 10%;
	justify-content: space-between;
	top: 0;
	left: 0;
	height: 20px;
	width: cover;
	background-color: white;
	opacity: 0.8;
	}
header div{
	font-size: 31px;
}
.nav-links li{
	position: relative;
	list-style: none;
	display: inline-block;
	padding: 0 20px;
}
header nav a{
	position: relative;
	text-decoration: none;
	height: 20px;
	width: 20px;
	padding-top: 5px;
	padding-bottom: 20px;
}
header nav a:hover{
	background-color: #dedede;
}

<!-- footer -->
footer{
	text-align: center;
}
footer {
	position: relative;
	top: 110%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 0;
	margin: 0;
	margin-bottom: 50px;
	margin-top: 100px;
	}

footer .icon{
	list-style: none;
	text-align: center;
	display: flex;

}
footer .icon a{
	position: relative;
	left: 33%;
	width: 60px;
	height: 60px;
	background: #f1f1f1;
	display: block;
	padding: 6px;
	margin: 0px 10px;
	text-align: center;
	border-radius: 50%;
	text-decoration: none;
}
footer .icon a .fa{
	height: 100%;
	width:100%;
	display: block;
	line-height: calc(60px	- 6px);

}
footer .copy{
	text-align: center;
}

